<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetGenie</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp"
      rel="stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                        <img src = "{% static 'images/logo.png' %}">
                        <a href="{% url 'index' %}"><h2>Budget<span class = "primary">Genie</span></h2></a>
                </div>
                <div class="close" id = "close-btn">
                    <span class = "material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-sharp">receipt_long</span>
                    <h3>Last Operations</h3>
                </a>                
                <a href="#">
                    <span class="material-symbols-sharp">insights</span>
                    <h3>Investments</h3>
                </a>                              
                <a href="#">
                    <span class="material-symbols-sharp">inventory</span>
                    <h3>Planning</h3>
                </a>                
                <a href="{% url 'settings_main' %}">
                    <span class="material-symbols-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">report_gmailerrorred</span>
                    <h3>Help</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <div class="bar">
                <form action="" class="search-bar">
                    <input type="text" placeholder="Search" name="search">
                    <button id="submit" class="primary">
                        <span class="material-symbols-sharp">search</span>
                    </button>
                </form>
            </div>
            <h1>Dashboard</h1>
            <div class="insights">
                <div class="income">
                    <span class="material-symbols-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Income</h3>
                            <h1>$10,864</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='50' cy="50" r="46"></circle>
                            </svg> 
                            <div class="number">
                                <p>44%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">For Current Month</small>
                </div>
                <div class="expences">
                    <span class="material-symbols-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Expences</h3>
                            <h1>$14,160</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='50' cy="50" r="46"></circle>
                            </svg> 
                            <div class="number">
                                <p>62%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">For Current Month</small>
                </div>
                <div class="sales">
                    <span class="material-symbols-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Capital</h3>
                            <h1>$25,024</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='50' cy="50" r="46"></circle>
                            </svg> 
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">For Current Month</small>
                </div>
            </div>
            <div class="widgets">
                <div class="recent-operations">
                    <h2>Last Operations</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <a href="#">Show All</a>
                </div>
                <div class="regular-payments">
                    <h2>Regular payments</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Date</th> 
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <a href="#">Show All</a>
                </div>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Aleksey</b></p>
                        <small class ='text-muted'>Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{% static 'images/profile-1.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="exchange-rates">
                <div class="exchange-settings">
                    <h2>Exchange Rates<button id="settings-button">
                        <span class="material-symbols-sharp">settings</span>
                    </button></h2>
                </div>
                <div class="updates">
                    <div class="update">
                        <img src="{% static 'images/004-united-states.png' %}" >
                        <p class="currency">USD</p>
                        <p class="amount">75.01</p>
                    </div>
                    <hr>
                    <div class="update">
                        <img src="{% static 'images/005-european-union.png' %}" >
                        <p class="currency">EUR</p>
                        <p class="amount">81.36</p>
                    </div>
                    <hr>
                    <div class="update">
                        <img src="{% static 'images/003-united-kingdom.png' %}" >
                        <p class="currency">GBP</p>
                        <p class="amount">87.92</p>
                    </div>
                    <hr>
                </div>
            </div>
            {% block content %}
            <div class="sales-analytics">
                <h2>Monthly Expences</h2>
                <div class="money-distribution">
                    <div class="money">
                        <div class="limit">
                            <h3>Limit</h3>
                            <h4>25000$</h4>
                        </div>
                        <div class="balance">
                            <h3>Balance</h3>
                            <h4>3800$</h4>
                        </div>
                    </div>
                </div>
                {% for expence_category in expence_shelf %}
                <div class="item">
                    <div class="right">
                        <div class="info">
                            <h3>{{expence_category.expence_category}}</h3>
                            <small class="text-muted">6900$</small>
                        </div>
                        <h3 class="operations">12 operations</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/operations.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>