<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetGenie</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp"
      rel="stylesheet">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src = "{% static 'images/logo.png' %}">
                    <a href="{% url 'index' %}"><h2>Budget<span class = "primary">Genie</span></h2></a>
                </div>
                <div class="close" id = "close-btn">
                    <span class = "material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-sharp">receipt_long</span>
                    <h3>Last Operations</h3>
                </a>                
                <a href="#">
                    <span class="material-symbols-sharp">insights</span>
                    <h3>Investments</h3>
                </a>                              
                <a href="#">
                    <span class="material-symbols-sharp">inventory</span>
                    <h3>Planning</h3>
                </a>                
                <a href="{% url 'settings_main' %}">
                    <span class="material-symbols-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">report_gmailerrorred</span>
                    <h3>Help</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <div class="settings">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Aleksey</b></p>
                        <small class ='text-muted'>Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{% static 'images/profile-1.jpg' %}">
                    </div>
                </div>
            </div>
            <h1>Modify your own categories</h1>
            <div class="modify">
                <div class="income">
                    <div class="income-h2">
                        <h2>Income <a href="{% url 'upload-income-categories' %}"><button id="action-btn"><span class="material-symbols-sharp">add</span></button></a></h2>
                    </div>
                    {% block content1 %}
                    {% endblock content1 %}
                    {% for income_category in income_shelf %}
                    <div class="income-mod">
                        <div class="income-categories">
                            <h3>{{ income_category.income_category }}</h3>
                        </div>
                        <div class="income-buttons">
                            <a href="update_income/{{income_category.id}}" id = {{income_category.id}}>
                                <button id="action-btn">
                                    <h4><span class="material-symbols-sharp">autorenew</span>Change</h4>
                                </button>
                            </a>
                            <a href="delete_income/{{income_category.id}}" id = {{income_category.id}}>   
                                <button id="action-btn">
                                    <h4><span class="material-symbols-sharp">delete</span>Delete</h4>
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="expences">
                    <div class="expences-h2">
                        <h2>Expences<a href="{% url 'upload-expence-categories' %}"><button id="action-btn"><span class="material-symbols-sharp">add</span></button></a></h2>
                    </div>
                    {% block content2 %}
                    {% endblock content2%}
                    {% for expence_category in expence_shelf %}
                    <div class="expences-mod">
                        <div class="expences-categories">
                            <h3>{{ expence_category.expence_category }}</h3>
                        </div>
                        <div class="expences-buttons">
                            <a href="update_expence/{{expence_category.id}}" id = {{expence_category.id}}>
                                <button id="action-btn">
                                    <h4><span class="material-symbols-sharp">autorenew</span>Change</h4>
                                </button>
                            </a>
                            <a href="delete_expence/{{expence_category.id}}" id = {{expence_category.id}}>
                                <button id="action-btn">
                                    <h4><span class="material-symbols-sharp">delete</span>Delete</h4>
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>