:root{
    --color-primary: #7c7cbc;
    --color-tag: #0080ff;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width:100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}
img{
    display:block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size:0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color:var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo img{
    width: 3.5rem;
    height: 3.5rem;
}

aside .logo h2{
    margin-top: 1rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .close{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary)
}

aside.sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size:11px;
    border-radius: var(--border-radius-1);
}

main{
    margin-top: 1.4rem;
}

main .bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .bar .search-bar{
    width: 100%;
    max-width: 600px;
    background: var(--color-white);
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .bar .search-bar:hover{
    box-shadow: none;
}

main .bar .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 18px;
    padding: 5px 15px;
    color: var(--color-primary);
}

::placeholder{
    color: var(--color-primary);
}

main .bar .search-bar button{
    border: 0;
    border-radius: var(--border-radius-1);
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

main .bar .search-bar button span{
    width: 30px;
    padding-right: 5px;
    padding-top: 5px;

}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expences span{
    background: var(--color-danger);
}

main .insights > div.income span{
    background: var(--color-success);
}
main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    max-width: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 112px;
    height: 112px;
    border-radius: 50%;
}

main .insights svg{
    width: 8rem;
    height: 8rem;
}
main .insights svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle{
   stroke-dashoffset: -30;
   stroke-dasharray: 200; 
}

main .insights .expences svg circle{
    stroke-dashoffset: 30;
    stroke-dasharray: 110; 
 }

 main .insights .income svg circle{
    stroke-dashoffset: 40;
    stroke-dasharray: 110; 
 }

 main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
 }

 main .insights small{
    margin-top: 1.3rem;
    display: block;
 }

 main .widgets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
 }

 main .recent-operations{
    margin-top: 2rem;
 }

 main .recent-operations h2{
    margin-bottom: 0.8rem;
 }

 main .recent-operations table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
 }

 main .recent-operations table:hover{
    box-shadow: none;
 }

 main .recent-operations a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary)
 }

 main .regular-payments{
    margin-top: 2rem;
 }

 main .regular-payments h2{
    margin-bottom: 0.8rem;
 }

 main .regular-payments table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
 }

 main .regular-payments table:hover{
    box-shadow: none;
 }

 main .regular-payments a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary)
 }

 main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
 }

.right{
    margin: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right .exchange-rates{
    margin-top: 1rem;
}

.right .exchange-rates h2{
    margin-bottom: 0.8rem;
}

.right .exchange-rates .exchange-settings button{
    border: 0;
    border-radius: var(--border-radius-1);
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    float: right;
}

.right .exchange-rates .exchange-settings span{
    color: var(--color-dark);
}

.right .exchange-rates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .exchange-rates .updates:hover{
    box-shadow: none;
}

.right .exchange-rates .updates .update{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0.5rem;
    gap: 4rem;
    font-size: 1rem;
}

.right .exchange-rates .updates .update p{
    color: var(--color-dark);
}

.right .exchange-rates .updates .update p.currency{
    padding-top: 0.35rem;
}

.right .money-distribution{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}
.right .money-distribution .money{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics{
    margin-top: 0.7rem;
}

.right .sales-analytics h2{
    margin-bottom: 0.5rem;
}

.right .money .limit{
    display: table-row;
}

.right .money .balance{
    display: table-row;
    text-align: end;
}

.right .money .limit h3{
    font-size: 1.2rem;
    color: var(--color-dark);
    font-weight: 400;
    align-items: center;
}

.right .money .limit h4{
    font-size: 1.1rem;
    color: var(--color-dark);
    align-items: center;
}

.right .money .balance h3{
    font-size: 1.2rem;
    color: var(--color-dark);
    display: flex;
    align-items: center;
    font-weight: 400;
}

.right .money .balance h4{
    font-size: 1.1rem;
    color: var(--color-dark);
    display: flex;
    align-items: end;
}

.right .money:hover{
    box-shadow: none;
}

.right .sales-analytics{
    margin-top: 2rem;
}

.right .sales-analytics h2{
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item .right .info h3{
    font-size: 1.2rem;
}

.right .sales-analytics .item .right h3.operations{
    padding-top: 0.8rem;
}

.right .sales-analytics .item .right h3{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.right .sales-analytics .item .right .info small{
    font-size: 0.9rem;
}

.right .sales-analytics .item:hover{
    box-shadow: none;
}

.right .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
       width: 5.6rem; 
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .widgets{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-operations{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0  8.8rem;
    }

    main .recent-operations table{
        width: 83vw;
    }

    main .regular-payments{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0  8.8rem;
    }

    main .regular-payments table{
        width: 83vw;
    }

    .right .exchange-rates .updates .update p.currency{
        padding-left: 5rem;
    }

    .right .exchange-rates .updates .update p.amount{
        padding-top: 0.45rem;
        padding-left: 6rem;
    }

    .right .sales-analytics .money-distribution .balance{
        padding-left: 14rem;
    }

    .right .money-distribution .money{
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu{
        to{
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 1rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-operations{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-operations table{
        width: 100%;
        margin: 0;
    }

    main .regular-payments{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .regular-payments table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-light);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }

    .right .exchange-rates .updates .update{
        text-align: center;
    }

    .right .exchange-rates .updates .update p.currency{
        padding-left: 1rem;
    }

    .right .exchange-rates .updates .update p.amount{
        padding-top: 0.45rem;
        padding-left: 1rem;
    }

    .right .sales-analytics .money-distribution .balance{
        padding-left: 3.8rem;
    }

    .widgets .recent-operations tr td:last-child{
        display: none;
    }

    .widgets .recent-operations tr th:last-child{
        display: none;
    }
}