{% extends 'CRUD/settings_main.html' %}
{% block content1 %}

<div class="income-form">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% for field in upload_income_form %}
            <tr>
                <th>{{ field.label }}:</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="income-button">
            <button id = "action-btn">Create</button>
        </div>
    </form>
</div>
    
{% endblock content1 %}
