{% extends 'CRUD/settings_main.html' %}
{% block content2 %}

<div class="expences-form">
    <div class="expences-tabel">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {% for field in upload_expence_form %}
                <tr>
                    <th>{{ field.label }}:</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="expences-button">
                <button id = "action-btn">Create</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock content2 %}
